In [2]:
## Pandas data types. The main types in Pandas include:

# object
# int64
# float64
# bool
# datetime64
# timedelta[ns]
# category

In [19]:
# Import dependencies 

import pandas as pd

# Read CSV file, set encoding to cp1252 due to UnicodeDecodeError

DataFrame = pd.read_csv('Desktop/climate/temp.csv', encoding='cp1252')

DataFrame.head()

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,Celsius,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,Celsius,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,Celsius,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,Celsius,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,Celsius,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [21]:
# object

# An object stores mixed types, objects can hold any Python object, including strings

In [22]:
# int64

# An int64 (Integer) stores zero, negative or positive whole numbers without a fractional part & ultimate precision

In [ ]:
# float64

# A float64

In [ ]:
# bool

In [ ]:
# datetime64

In [ ]:
# timedelta[ns]

In [ ]:
# category

In [ ]:
# dtypes Pandas function

In [ ]:
# Converting data types